body {
  line-height: 1;
  background-image: url(images/mbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  #overflow: hidden;}
  img{
      width: 500px;
  }
  p{
      color: white;
  }