body {
  line-height: 1;
  background-image: url(images/mbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
  img{
      display: grid;
  }

  p{
      color: white;
  }