body {
  line-height: 1;
  background-image: url(images/mbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;}
    

a {
    color: red;
}

a:visited {
    color: green;
}

p{
    color: white;
}
h1 {
    color: white;
}